body{
	font-size: 16px;
	margin: 0 auto;
	max-width: 1024px;
}
header ul li{
	display:inline-block;
}
header ul li button{
	width: 89px;
}
#secAltaAlumnos{
	display: none;
	margin: 0 auto;
	width: 350px;
}